<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="pathTravail" value="C:\Users\ARPVQ\Documents\Visual Studio 2017\Projects\PVConsole\Resultats"/>
    <add key="NoCompe" value="1"></add>
    <add key="Fmt" value="JSON"></add>
    <add key="Mixte" value="false"/>
    <add key="pathResultat" value="C:\Users\ARPVQ\Documents\Visual Studio 2017\Projects\WebApplication1\WebApplication1\data"></add>
    <!--<add key="gitLink" value="https://raw.githubusercontent.com/labbr01/labbr01.github.io/master/data/{0}"/>-->
    <add key="gitLocal" value=""/>
    <!--<add key="gitLocal" value="C:\Users\Bruno\Documents\git\labbr01\labbr01.github.io\data\{0}"/>-->
    <add key="urlResultat" value="https://pastebin.com"/>
    <add key = "GR1" value = "http://pastebin.com/raw/i5Cx3JNz"></add>
    <add key = "GR2" value = "http://pastebin.com/raw/kgd6LER3"></add>
    <add key = "GR3" value = "http://pastebin.com/raw/LwsXQsrJ"></add>
    <add key = "GR4" value = "http://pastebin.com/raw/JM2Qw1dZ"></add>
    <add key = "GR5" value = "http://pastebin.com/raw/VtXa66UU"></add>
    <add key = "GR6" value = "http://pastebin.com/raw/KArz2g3e"></add>
    <add key = "GR7" value = "http://pastebin.com/raw/zbE3BwdZ"></add>
    <add key = "GR8" value = "http://pastebin.com/raw/N4vMfii4"></add>
    <add key = "GR9" value = "http://pastebin.com/raw/nAwDaF4C"></add>
    <add key = "GR10" value = "http://pastebin.com/raw/cxQHM7Bs"></add>
    <add key = "GR11" value = "http://pastebin.com/raw/vJb8ZmvY"></add>
    <add key = "GR12" value = "http://pastebin.com/raw/7WQ4Q5SQ"></add>
    <add key = "GR13" value = "http://pastebin.com/raw/uajWDZxQ"></add>
    <add key = "GR14" value = "http://pastebin.com/raw/rbUbZh0D"></add>
    <add key = "GR15" value = "http://pastebin.com/raw/euVrLJkx"></add>
    <add key = "GR16" value = ""></add>
    <add key = "GR17" value = ""></add>
    <add key = "GR18" value = ""></add>
    <add key = "GR19" value = ""></add>
    <add key = "GR20" value = ""></add>
    <add key = "GR21" value = ""></add>
    <add key = "GR22" value = ""></add>
    <add key = "GR23" value = ""></add>
    <add key = "GR24" value = ""></add>
    <add key = "GR25" value = ""></add>
  </appSettings>
  <connectionStrings>
    <add name="PatinVitesse" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\ARPVQ\Documents\Visual Studio 2017\Projects\PVConsole\Resultats\Publication.pat;User Id=admin;Password=;" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="linq2db" publicKeyToken="F19F8AED7FEFF67E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.1" newVersion="1.0.7.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>