<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="PVConsole.Properties.Settings.Devoir4ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Bruno\Downloads\4-ARPVQ-LP 2016-2017Azpx.pat" providerName="System.Data.OleDb"/>
    <add name="PatinVitesse" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Bruno\Documents\Arpvq 2016-2017\Sainte-Foy #4\Resultats\4-ARPVQ Patineurs4 final.pat;User Id=admin;Password=;" providerName="System.Data.OleDb"/>  
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="linq2db" publicKeyToken="F19F8AED7FEFF67E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.7.1" newVersion="1.0.7.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
