<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RepSource" value="C:\Users\Bruno\Documents\Arpvq 2016-2017\Sainte-Foy #4\Resultats\4-ARPVQ Patineurs4 final.pat"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>